/*Drucklayout - 17.06.11 */

@page { margin:2cm 2cm 1.4cm 1.4cm; }

body  {
	
	}


#Print{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 14px;
	width:800px;
	background-image:url("/style/bp.jpg");
	}
		
#Logo{
	text-align:right;
	}

#TextBereich{
			}

#Kopf{
	font-size : 24px;
	background: #3a5576;
	color:white;
	padding: 20px 0 20px 0;
	margin:20px 0 20px 0;
	font-weight:bold;
	}

#InfoBereich{
			}
				
#T1{
	float:left;
	width:260px;
	}
	
#T2{
	float:left;
	width:260px;
	}				

#T3{
	float:left;
	width:260px;
			}

#Bilder2{
    
	padding: 2px 2px 10px 2px;
	margin: 40px 0 0 0;
	clear:both;
		}			
#Fuss{
    border: 1px dotted black;
	padding: 2px 2px 10px 2px;
	margin: 40px 0 0 0;
	
		}
#dis{
	font-size : 10px;
	background:#e6e6e6;
	padding: 2px 2px 2px 2px;
	border:1px solid black;
}
#preis{
	font-size : 10px;
	padding: 2px 2px 8px 2px;
	background: #3a5576;
	color:white;
	margin : 40px 0 0 0;
	
}
#preis h1 {
	font-size: 24px;
	font-weight:bold;
	
	}

#T2 h1, #T1 h1,#T3 h1, #Fuss h1 {
	font-size: 16px;
	font-weight:bold;
	}
		