#textbox div.brandview
{
margin: 0 0 2% 0;
padding: 2%;
text-align : center;
border-color:#dddddd;
border-style:solid;
border-width:1px 0pt;
border-radius:2px;
box-shadow: 1px 1px 3px #888;
background:rgba(255,255,255,1);
}

#textbox div.car_box_odd, #textbox div.car_box_even
{
margin: 0 0 2% 0;
padding: 2%;
background:rgba(255,255,255,0.6);
border-color:#dddddd;
border-style:solid;
border-width:1px 0pt;
border-radius:2px;
box-shadow: 1px 1px 3px #888;
}


#textbox div.car_box_even:hover, #textbox div.car_box_odd:hover
{
background : #ffffff;
box-shadow: 3px 3px 6px #000;
transition:all 0.4s ease-in-out;
}

#textbox div.car_head
{
height:3.5em; 
font-weight:bold;
font-size:1.4em;
font-style:italic;
float:left;
}

#textbox div.car_head_b
{
text-align : right;
margin: -1.3em -1.3em  0 0;
overflow:hidden;
}

#textbox div.car_body
{
clear:left;
margin: 2% 0 2% 0;
border-color:#dddddd;
border-style:solid;
border-width:1px;
border-radius:2px;
box-shadow: inset 1px 1px 2px #888;
padding:2%;
}

#textbox div.car_bilder
{
max-width:100%;
text-align : right;
}

#textbox div.car_liste
{
font-weight:bold;
font-size:1em;
font-style:italic;
float:left;
}

#textbox div.car_ende
{
clear:left;
padding: 2%;
text-align : right;
font-weight:bold;
font-size:1.6em;
font-style:italic;
}

#textbox img.cp
{
width: 110px;
height: 84px;
}

#textbox a{
padding: 0.3em 0.3em 0.3em 0.3em;
}

#textbox a:hover{
background-color : rgba(255,255,0,0.4);
border-radius:2px;
padding: 0.3em 0.3em 0.3em 0.3em;
transition:all 0.4s ease-in-out;
}
#textbox div.page
{
font-weight:bold;
font-size:1em;
background:rgba(255,255,255,0.4);
margin: 0 0 2% 0;
padding: 2%;
text-align : center;
border-color:#dddddd;
border-style:solid;
border-width:1px 0pt;
border-radius:2px;
box-shadow: 1px 1px 3px #888;

 }
a.tooltip            
{    
text-decoration: none;
}
a.tooltip:hover
{
position: relative;
background: transparent;
transition:all 0.4s ease-in-out;
}  

a.tooltip span  {
text-align : center;
position: absolute;
visibility: hidden;
top: 3em; left: 2em;
padding: 0.2em 0.2em 0.2em 0.2em;
background:white;
border-color:#7f7f7f;
border-style:solid;
box-shadow: 1px 1px 3px #888;
font-weight:bold;
font-size:0.8em;
font-style:italic;
}

a.tooltip:hover span  
{
visibility: visible; 
}   