
#textbox div.BilderBox, div.PreisBox, div.DatenBox, div.submenu
{
margin: 0 0 2% 0;
padding: 2%;
border-color:#dddddd;
border-style:solid;
border-width:1px 0pt;
border-radius:2px;
box-shadow: 2px 2px 3px #888;
background : #ffffff;
font-size:1em;
font-style:italic;
clear:left;
}

#textbox div.car_head
{
font-weight:bold;
font-size:1.4em;
font-style:italic;
margin: 0 0 2% 0;
padding: 2%;
border-color:#dddddd;
border-style:solid;
border-width:1px 0pt;
border-radius:2px;
box-shadow: 2px 2px 3px #888;
background : #ffffff;
}

#textbox div.boxend
{
margin : 0;
padding:20px 20px 5px 0;
text-align : right;
font-size : 0.625em;
color:#222222;
}

#textbox img.IconBild
{
padding: 1%;
width: 77px;
height: 58px;
}

#textbox div.BoxLeft
{
float:left;
padding:0 2em;
}

#textbox div.clear
{
clear:both;
}

#textbox div.PreisBoxText 
{
float:left;
}

#textbox div.BruttoPreis
{
text-align : right;
font-size:1.4em;
font-style:italic;
font-weight:bold;
}
#textbox span.ps
{
text-align : right;
font-size: 0.8em;
font-style:italic;
font-weight:bold;
}
#textbox div.PreisSubText
{
padding: 1% 0 0 0;
clear:left;
}

#textbox div.ErrorBox
{
padding: 2%;
background:#ffcccc;
border-color:#e06773;
border-style:solid;
border-width:1px 0pt;
border-radius:2px;
box-shadow: 2px 2px 3px #888;
}

#textbox a.SubMenu{
font-size:1.4em;
font-style:italic;
font-weight:bold;
padding: 0.3em 0.2em 0.3em 0.2em;
}

#textbox a.SubMenu:hover{
background-color : rgba(255,255,0,0.4);
border-radius:2px;
padding: 0.3em 0.2em 0.3em 0.2em;
transition:all 0.5s ease-in-out;
}

#textbox a{
padding: 0.3em 0.2em 0.3em 0.2em;
}

#textbox a:hover{
background-color : rgba(255,255,0,0.4);
border-radius:2px;
padding: 0.3em 0.2em 0.3em 0.2em;
transition:all 0.5s ease-in-out;
}

nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; padding: 25px 40px;
			color: #757575; text-decoration: none;
		}
			
		
	nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			nav ul ul li a {
				padding: 15px 40px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #4b545f;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
		
