/*overwriting - Employee*/
#textbox div.GreenBox{
	margin: 2% 0 2% 0;
	padding: 2%;
	background:#eeeeee;
	border-color:#dddddd;
	border-style:solid;
	border-width:1px 0pt;
	border-radius:2px;
	box-shadow: 1px 1px 3px #888;
}
