

/*was ist das?*/
#textbox div.cdatabox
	{
		float:left;
		width:250px;
		padding:10px;
	}
	
#textbox div.uplink
	{
	/*width:500px;*/
	padding: 10px 0 10px 0;
	text-align : right;
	font-size : 10px;
	color:#CCCCCC;
	clear:left;
	}


/*Bild Platzierung - nur noch als Banner Quer in Box! mit IMG! */


#textbox p.abs {
	padding: 0 20px 0 20px;
	}    	
	
#
/*Anker*/	


#textbox a.na{
	font-size : 14px;
	color:#000000;
    text-decoration:none; 
    }
	
#textbox a.ic{
	font-size : 12px;
	color:#000000;
    text-decoration:none; 
    }	
	

	
#textbox a.caricon{
		margin: 0 10px 20px 10px;
		}


#textbox thead {
	font-size : 9px;
	background-color : #d1d7e6;
	}
#textbox tfoot {
	font-size : 9px;
	background-color : #d1d7e6;
	}	
	
#textbox thead th{
	border-color :#98a9d2;
	border-width : 1px 0 1px 0;
	border-style : solid;
	padding:5px;
	}

#textbox tfoot th{
	border-color :#98a9d2;
	border-width : 1px 0 1px 0;
	border-style : solid;
	padding:5px;
	}
	
#textbox td{	
	font-size : 10px;
	vertical-align:top;
	padding:5px;
	}
	
a.tt{
    position:relative;
    z-index:24;
    color:#3CA3FF;
	font-weight:bold;
    text-decoration:none;
}
a.tt span{ display: none; }

/*Tooltips*/
a.tt:hover{ z-index:25; color: #aaaaff; background:;}
a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:1px; left:-10px;
	padding: 15px 0 0 0;
	width:294px;
	color: #454545;
}
a.tt:hover span.top{
	display: block;
	padding: 60px 8px 0;
    background: url(/style/v2/bx.png) no-repeat top;
}
a.tt:hover span.middle{ 
	text-align : left;
	display: block;
	padding: 0 8px; 
	background: url(/style/v2/bb.png) repeat bottom; 
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 20px;
	color: #548912;
    background: url(/style/v2/bx.png) no-repeat bottom;
}  

/*BOX-Modell Fahrzeugdetail */

.CarBOX {
	height:130px;
	width: 550px;
	font-size: 12px;
	/*font-weight: 500;*/
	padding: 5px 5px 25px 5px;
	}
.CarBOXHead {
	padding: 6px 10px 9px 10px;
	background: url("/style/v2/bck.jpg") no-repeat bottom;
	}	
.CarBOXPic {
	float:left;
	}	

.CarBOXInnerBox {
	padding: 0 10px 0 120px;
	}	
	
.CarBOXTD {
	padding: 2px 10px 2px 10px;
	float:left;
	background: url("/style/v2/gtd.jpg") no-repeat bottom left;
	}	

.CarBOXTDL {
	padding: 2px 5px 2px 5px;
    text-align : right;
	background: url("/style/v2/otd.jpg") repeat-x bottom right;
	}		
.CarBOXInfo {
	padding: 4px 30px 2px 10px;
	font-size: 10px;
	}	

.eco {
	width: 550px;
	}
.ecoHead {
	padding: 5px 5px 10px 5px;
	font-size: 20px;
	color:#ffffff;
	background : #007ec5;
	font-weight:bold;
	}	
	
.ecoTable {
	margin: 10px 0px 10px 0px;
	clear:left;
	}	
	
.ecoTHD {
	width: 200px;
	padding: 12px 5px 12px 5px;
	float:left;
	border-top: 2px solid #000000;
	font-weight:bold;

	}	

.ecoTHDEnd{
	width: 120px;
	padding: 12px 5px 12px 5px;
	color:#ffffff;
	float:left;
	border-top: 2px solid #000000;
	background: #007ec5; 
	font-weight:bold;

	}	
.ecoTDD {
	width: 200px;
	padding: 12px 5px 12px 5px;
	float:left;
	border-top: 1px solid #000000;
	}	

.ecoTDDEnd{
	width: 120px;
	padding: 12px 5px 12px 5px;
	font-size : 14px;
	background:#DDDDDD;
	float:left;
	border-top: 1px solid #000000;
	font-weight:bold;
	text-align: right;
	}	
.ecoFoot{
	clear:left;
	border-top: 2px solid #000000;
	padding : 8px 0px 20px 0px;
	font-size:10px;
	
}	


#img {
    position: relative;
}

#gallery { height: 84px; }


#gallery li {
    float: left;
    padding: 1px;
    background: transparent url(/style/ajax-loader-small.gif) 50% 50% no-repeat;
    cursor: pointer;
}

.caption {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 533px;
    height: 50px;
    padding: 0 2%;
    line-height: 50px;
    color: #fff;
    background-color: #000;
    opacity: .8;
}	

