body  {
font: normal 100% Helvetica, Arial, sans-serif;
}

#bgimg{
position:fixed;
z-index:-1;
}
#page{
margin:10px auto;
padding: 0 1em;
max-width: 61.5em;
z-index:5;
}

#menu_l {
width:23%;
float:right;
background:rgba(255,255,255, 0.5);
padding: 1.5%;
border-radius:2px;
box-shadow: 1px 1px 3px #888;
margin: 0 0 1em;
}

#menu_l img {
border : 0 none;
max-width:100%;
}

#menu_l div.menuhead {
background:rgba(255,255,255,1);
border-radius:2px;
box-shadow: 1px 1px 3px #888;
}

#menu_l div.menuhead:hover
{
background : #ffffff;
box-shadow: 2px 2px 5px #888;

}

#menu_l h2  {
text-align :right;
font-size : 0.875em;
padding: 2%;
border-bottom-style:solid;
border-bottom-width:2px;
border-bottom-color:#888;
} 

#menu_l menu{
font-size : 0.75em;
margin : 0 0 0 -1em;
}

#menu_l li{
list-style : none outside;
padding : 1% 2% 2%;
}

#menu_l a  {
color :#000000;
display : block;
padding : 2%;
text-decoration : none;
}

#menu_l a:hover  {
background-color : rgba(255,255,0,0.4);
border-radius:2px;
box-shadow: 1px 1px 3px #888;
}

#headnav, #footnav {
clear:right;
text-align : right;
margin : 1em 0 1em 0;
padding: 1em 0 1em 0;
border-radius:2px;
box-shadow: 1px 1px 3px #888; 
background:rgba(255,255,255,0.5);
}

#headnav a, #footnav a  {
font-size : 0.85em;
color:#000000;
padding: 0 1% 0 1%;
margin: 0.75em 0.5% 0.75em;
}

#headnav a:hover, #footnav a:hover {
background-color : rgba(255,255,0,0.4);
border-radius:2px;
padding: 1em 1% 1em 1%;
box-shadow: 1px 1px 3px #888;
}

#logobox {
background:rgba(255,255,255,0.8);
border-radius:2px;
padding: 1em 1% 1em 1%;
box-shadow: 1px 1px 3px #888;
}

#logo {
}

#logo img {
border : 0 none;
max-width:100%;
}


#textbox{
width:70%;
padding: 1.5%;
border-radius:2px;
box-shadow: 1px 1px 3px #888;
background:rgba(255,255,255,0.5);
}

#textbox div.news {
margin: 0 0 2% 0;
padding: 0 0 2% 0 ;
border-color:#dddddd;
border-style:solid;
border-width:1px 0pt;
border-radius:2px;
box-shadow: 2px 2px 3px #888;
background : #ffffff;
}
#textbox span.whead{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
text-shadow: 3px 3px 6px #aaaaaa;
font-size:2.8em;
color:black;
font-weight:bold;
}


#textbox div.inner {
padding: 0 2% 2% 2%;
}

#textbox h1, #textbox h2 {
font-size : 0.875em;
font-weight: bold; 
padding: 2%;
border-bottom-style:solid;
border-bottom-width:2px;
border-bottom-color:#888;
} 
 
#textbox h3
{
font-weight: bold; 
 } 
 
#textbox div.newsend , div.hback{
margin : 0;
padding:20px 20px 5px 0;
text-align : right;
font-size : 0.625em;
color:#222222;
} 

#textbox img{
border:0;
max-width:100%;
}

#textbox a {
color : #369;
display: inline-block;
}

#textbox a.headup{
color:#AAAAAA;
}

#textbox a:hover {
background-color : rgba(255,255,0,0.4);
box-shadow: 1px 1px 3px #888;
}

#textbox div.GreenBox{
padding: 2%;
background:#c4ffd3;
border-color:#69b37c;
border-style:solid;
border-width:1px 0pt;
border-radius:2px;
box-shadow: 1px 1px 3px #888;
}

#textbox div.RedBox, #textbox div.law{
padding: 2%;
background:#ffcccc;
border-color:#e06773;
border-style:solid;
border-width:1px 0pt;
border-radius:2px;
box-shadow: 1px 1px 3px #888;
}

#textbox div.contactbox{
padding: 2%;
background: #e1e1e1; /* Old browsers */
background: -moz-linear-gradient(top,  #e1e1e1 0%, #ffffff 58%, #ffffff 62%, #ffffff 66%, #f1f1f1 80%, #f1f1f1 86%, #d3d3d3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(58%,#ffffff), color-stop(62%,#ffffff), color-stop(66%,#ffffff), color-stop(80%,#f1f1f1), color-stop(86%,#f1f1f1), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e1e1e1 0%,#ffffff 58%,#ffffff 62%,#ffffff 66%,#f1f1f1 80%,#f1f1f1 86%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e1e1e1 0%,#ffffff 58%,#ffffff 62%,#ffffff 66%,#f1f1f1 80%,#f1f1f1 86%,#d3d3d3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e1e1e1 0%,#ffffff 58%,#ffffff 62%,#ffffff 66%,#f1f1f1 80%,#f1f1f1 86%,#d3d3d3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e1e1e1 0%,#ffffff 58%,#ffffff 62%,#ffffff 66%,#f1f1f1 80%,#f1f1f1 86%,#d3d3d3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */


border-radius:2px;
box-shadow: 1px 1px 3px #888;
text-align:right;
}
#textbox span.verification{
position: absolute;
left: -1000px;
top:-1000px;
width:1px;
height:1px;
overflow:hidden;
display:inline;
}
